.container {
  font-family: monospace;
}

nav.primary ul,
nav.primary ul li {
  margin: 0px;
  padding-bottom: 3em;
}

nav.primary ul li {
  display: inline;
  float: left;
  position: relative;
}

nav.primary ul li a {
  display: inline-block;
  line-height: 2em;
  padding: 0 1em;
  color: #1EAEDB;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.08em;
}

nav.primary ul li a:hover {
  color: black;
}

.projects {
  list-style: none;
}

.statuses {
  text-align: center;
}

.users {
  padding: 1em;
  padding-bottom: 0;
  text-align: center;
}

.current-status {
  text-align: center;
  margin-bottom: 2em;  
  border-bottom: .1em solid #1EAEDB;
}
.current-status .status {
  font-size: 2.5em;
}

ul.recent-statuses {
  list-style: none;
}

.recent-statuses .status {
  font-size: 2em;
}

.current-status .status-date {
  font-style: italic;
}

.icon--ei-chevron-right {
  cursor: pointer;
}

.project-title {
  margin-bottom: 1em;
}

.project-form {
  text-align: center;
}


li.project {
  font-size: 2em;
  border-bottom: 0.02em solid black;
  padding: 0.5em;
  margin: 0.2em;
}

li .icon {
  vertical-align: middle;
}

li a {
  text-decoration: none;
  cursor: pointer;
}

button.submit {
  border: none;
  vertical-align: middle;
}

.icon.custom-icon {
  fill: #1EAEDB;
}

ul.users-list {
 list-style: none;
 list 
}

.updated-at {
  font-weight: thin
}